body{
    background-color: #141e42;
}
h1{
    text-align: center;
    text-decoration: underline;
    line-height: 2.5em;
}
header{
    background-color: white;
}
main{
    background-color: white;
}
nav{
    text-align: center;
}
button{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
footer{
    background-color: white;
    text-align: center;
    font-size: smaller;
    color: gray;
}